.red{
    background-color: red;
    height: 40px;
}
.brown{
    background-color: brown;
    height: 40px;
}
.pink{
    background-color: pink;
    height: 40px;
}
.black{
    background-color: black;
    height: 40px;
}
.blue{
    background-color: blue;
    height: 40px;
}
.yellow{
    background-color: yellow;
    height: 40px;
}